.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  background: #91c0fd;
  overflow: hidden;
  padding: 36px 24px;
  border-radius: 12px;
  position: relative;
  width: fit-content;
  width: 100%;
}

h2 {
  font-size: 24px;
  font-family: 'extrabold';
  color: #ffffff;
}

.tags {
  margin: 10px 0;
  display: flex;
  gap: 5px;
}

.retest {
  display: flex;
  gap: 8px;
}

.retry {
  font-size: 16px;
  color: #f5f9ff;
  cursor: pointer;
}

.image {
  position: absolute;
  right: -30px;
  top: 50px;
  width: 100px;
  height: 180px;
}
