.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*min-height: 100vh;*/
  width: 100%;
  margin: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.wrap_container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 20px;
}

.topcontentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0;
  gap: 12px;
}

.carousel {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.section_01 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.topcontentWrap > *:nth-child(1) {
  margin-bottom: 12px; /* HelloChater와 ToastBar 사이 간격 */
}

.topcontentWrap > *:nth-child(2) {
  margin-bottom: 20px; /* ToastBar와 MeetingCardCarousel 사이 간격 */
}

.keywordcontentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chipswrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding-bottom: 20px;
}

.livecontentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  gap: 20px;
}

.sooncontentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  gap: 20px;
}

.calendercontentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.ContentTitleWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.keywordTitleWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 20px 0;
}

.Calenderdatefilter {
  color: #999999;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  flex-direction: row;
  padding: 2px 8px;
  border: 1px solid #cccccc;
  border-radius: 11px;
}
.Calenderdatefilter span {
  font-size: 12px;
  height: auto;
  line-height: 1;
}
.Calenderdatefilter img {
  display: flex;
}

.keywordwrap {
  color: #999999;
  display: flex;

  flex-direction: row;
}

.keywordwrap span {
  font-size: 12px;
}

.soonwrap {
  color: #999999;
  display: flex;

  flex-direction: row;
}
.soonwrap span {
  font-size: 12px;
}

.livewrap {
  color: #999999;
  display: flex;

  flex-direction: row;
}
.livewrap span {
  font-size: 12px;
}

.bookCard{
  background-color: #FFFBF0;
  border-radius: 12px;
}

.BookCardWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.LiveShortChapCardMWarp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  gap: 10px;

  width: 100%;
}

.LiveShortChapCardMWarp::-webkit-scrollbar {
  display: none; /* 크롬, 사파리에서 스크롤바 숨기기 */
}

.soonBookCardWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.LiveBookCardWarp {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.LiveBookCardWarp02 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0;
  width: 100%;
}

.calenderdatewrap {
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  
}

/* Title_01 */

.Title_01_Heavy {
  font-size: 24px;
  font-family: 'heavy';
  color: #000000;
}

.Title_01_ExtraBold {
  font-size: 24px;
  font-family: 'extrabold';
  color: #000000;
}

.Title_01_Bold {
  font-size: 24px;
  font-family: 'bold';
  color: #000000;
}

.Title_01_Regular {
  font-size: 24px;
  font-family: 'regular';
  color: #000000;
}

.Title_01_Light {
  font-size: 24px;
  font-family: 'light';
  color: #000000;
}

/* Title_02 */

.Title_02_Heavy {
  font-size: 20px;
  font-family: 'heavy';
  color: #000000;
}

.Title_02_ExtraBold {
  font-size: 20px;
  font-family: 'extrabold';
  color: #000000;
}

.Title_02_Bold {
  font-size: 20px;
  font-family: 'bold';
  color: #000000;
}

.Title_02_Regular {
  font-size: 20px;
  font-family: 'regular';
  color: #000000;
}

.Title_02_Light {
  font-size: 20px;
  font-family: 'light';
  color: #000000;
}

/* SubTitle_02 */

.SubTitle_02_Heavy {
  font-size: 18px;
  font-family: 'heavy';
  color: #000000;
}

.SubTitle_02_ExtraBold {
  font-size: 18px;
  font-family: 'extrabold';
  color: #000000;
}

.SubTitle_02_Bold {
  font-size: 18px;
  font-family: 'bold';
  color: #000000;
}

.SubTitle_02_Regular {
  font-size: 18px;
  font-family: 'regular';
  color: #000000;
}

.SubTitle_02_Light {
  font-size: 18px;
  font-family: 'light';
  color: #000000;
}

/* Body_01 */

.Body_01_Heavy {
  font-size: 16px;
  font-family: 'heavy';
  color: #000000;
}

.Body_01_ExtraBold {
  font-size: 16px;
  font-family: 'extrabold';
  color: #000000;
}

.Body_01_Bold {
  font-size: 16px;
  font-family: 'bold';
  color: #000000;
}

.Body_01_Regular {
  font-size: 16px;
  font-family: 'regular';
  color: #000000;
}

.Body_01_Light {
  font-size: 16px;
  font-family: 'light';
  color: #000000;
}

/* Body_02 */

.Body_02_Heavy {
  font-size: 14px;
  font-family: 'heavy';
  color: #000000;
}

.Body_02_ExtraBold {
  font-size: 14px;
  font-family: 'extrabold';
  color: #000000;
}

.Body_02_Bold {
  font-size: 14px;
  font-family: 'bold';
  color: #000000;
}

.Body_02_Regular {
  font-size: 14px;
  font-family: 'regular';
  color: #000000;
}

.Body_02_Light {
  font-size: 14px;
  font-family: 'light';
  color: #000000;
}

/* Caption_01 */

.Caption_01_Heavy {
  font-size: 12px;
  font-family: 'heavy';
  color: #000000;
}

.Caption_01_ExtraBold {
  font-size: 12px;
  font-family: 'extrabold';
  color: #000000;
}

.Caption_01_Bold {
  font-size: 12px;
  font-family: 'bold';
  color: #000000;
}

.Caption_01_Regular {
  font-size: 12px;
  font-family: 'regular';
  color: #000000;
}

.Caption_01_Light {
  font-size: 12px;
  font-family: 'light';
  color: #000000;
}

/* Caption_02 */

.Caption_02_Heavy {
  font-size: 10px;
  font-family: 'heavy';
  color: #000000;
}

.Caption_02_ExtraBold {
  font-size: 10px;
  font-family: 'extrabold';
  color: #000000;
}

.Caption_02_Bold {
  font-size: 10px;
  font-family: 'bold';
  color: #000000;
}

.Caption_02_Regular {
  font-size: 10px;
  font-family: 'regular';
  color: #000000;
}

.Caption_02_Light {
  font-size: 10px;
  font-family: 'light';
  color: #000000;
}

/* 폰트파일 */

@font-face {
  font-family: 'light';
  src: url('../src/fonts/NanumSquareNeo-aLt.ttf') format('truetype');
}

@font-face {
  font-family: 'regular';
  src: url('../src/fonts/NanumSquareNeo-bRg.ttf') format('truetype');
}

@font-face {
  font-family: 'bold';
  src: url('../src/fonts/NanumSquareNeo-cBd.ttf') format('truetype');
}

@font-face {
  font-family: 'extrabold';
  src: url('../src/fonts/NanumSquareNeo-dEb.ttf') format('truetype');
}

@font-face {
  font-family: 'heavy';
  src: url('../src/fonts/NanumSquareNeo-eHv.ttf') format('truetype');
}
