.wrap {
  margin: 16px 0 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.container {
  padding: 12px;
  border: 1px solid;
  border-bottom-style: none;
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 66px;
  position: relative;
  overflow: hidden;
  background: #ffe8ad; /* 기본 배경색 */
  border: 2px solid #ffda79;
  transition: background-image 0.3s ease-in-out; /* 부드러운 효과 */
}

.header {
  display: flex;
  gap: 4px;
}

.title {
  font-size: 16px;
  font-family: 'extrabold';
  line-height: 150%;
}

.Subtitle {
  font-size: 12px;
  font-family: 'bold';
  color: #4d4d4d;
  line-height: 150%;
}
.character {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 42px;
  height: 82px;
  /* 이미지가 나타날 때 애니메이션 적용 */
  animation: popUp 0.5s ease-out forwards;
}

/* 애니메이션 keyframes 정의 */
@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.5);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.Content {
  padding: 12px;
  border: 1px solid;
  border-top-style: none;
  border-radius: 0 0 12px 12px;
  width: 100%;
  height: 66px;
}

.text {
  font-size: 12px;
  font-family: 'regular';
  color: #666666;
  line-height: 150%;
}
