@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../../fonts/NanumSquareNeo-bRg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../../fonts/NanumSquareNeo-bBd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 기본 적용 */
body {
  font-family: 'NanumSquareNeo', sans-serif;
}

.wrap {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
}

.bottom_item {
  width: 85px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.defaultText {
  font-family: 'NanumSquareNeo', sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: normal;
}

.activeText {
  font-family: 'NanumSquareNeo', sans-serif;
  color: #007aff;
  font-size: 12px;
  font-weight: normal;
}
