.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.carousel_box {
  display: flex;
  width: 100%;
  overflow: auto;
}
.carousel_box::-webkit-scrollbar {
  display: none;
}

.title_box {
  display: flex;
  width: auto;
  margin: 24px 20px 20px 20px;
  justify-content: space-between;
  overflow: hidden;
  /* border: 1px solid; */
  align-items: end;
}
.all_list {
  display: flex;
}
.arrow_box {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.list_box {
  display: flex;
  padding: 0 20px;
  gap: 10px;
  overflow-x: auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.list_box::-webkit-scrollbar {
  display: none;
}

.list_box > * {
  flex-shrink: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 0 20px 34px 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.button_text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0px;
  box-sizing: border-box;
}
